{% extends 'base.html' %}
{% load static %} 
{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/signin.css' %}">
{% endblock %}

{% block title %}Montaj ve Uçak Üretimi{% endblock %}

{% block content %}
    <div class="container mt-5">
        <h2>Montaj ve Uçak Üretimi</h2>

        <!-- Seçim Menüsü -->
        <div class="mb-4">
            <label for="process-select" class="form-label">İşlem Seçiniz</label>
            <select id="process-select" class="form-control">
                <option value="">Seçiniz</option>
                <option value="assembly_start">Montaj Başlangıcı</option>
                <option value="assembly_process">Monte ve Üretim</option>
            </select>
        </div>

        <!-- Montaj Başlangıcı Formu -->
        <form id="assembly-form" method="post" style="display: none;">
            {% csrf_token %}
            <div class="mb-3">
                <label for="uav" class="form-label">İHA Seçiniz</label>
                {{ assembly_form.uav }}
                <label  id="newAssemblyCode" style="display: none;" class="form-label"></label>
            </div>
            <button type="button" id="create-assembly-btn" class="btn btn-primary">Montaja Başla</button>
        </form>

        <!-- Monte İşlemi Bölümü -->
        <div id="assembly-section" style="display: none;">
            <form id="part-form" method="post" class="mt-3">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="assembly-select" class="form-label">Montaj Kodu Seçiniz</label>
                    {{ part_form.assembly }} 

                    <label  id="missing_part" style="display: none;" class="form-label"></label>
                    <label  id="mounted_part" style="display: none;" class="form-label"></label>

                    
                </div>
                <div class="mb-3">
                    <label for="part-select" class="form-label">Parça Seçiniz</label>
        <select name="part_production" id="part_production" class="form-control">
            <!-- Başlangıçta boş olacak, montaj kodu seçimine göre dolacak -->
        </select>
                </div>
                <button type="button" id="add-part-btn" class="btn btn-success">Parçayı Ekle</button>

                <button type="button" id="complete-production-btn" class="btn btn-primary mx-3">Üretimi Tamamla</button>
            </form>
        </div>

    </div>

    <div id="toast" class="toast-message"></div>

    <script src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.full.min.js"></script>
    <script>
        $(document).ready(function () {
           

                $('#assembly-select').on('change', function() {
        var assemblyId = $(this).val();

        // Eğer bir montaj kodu seçildiysa, parçaları yüklemek için AJAX isteği gönderiliyor
        if (assemblyId) {
    fetch(`/get_parts_for_assembly/${assemblyId}/`)
        .then(response => response.json())
        .then(data => {
            var partSelect = $('#part_production');
            partSelect.empty();  // Mevcut parçaları temizle

            // Yeni parçaları ekle
            data.parts.forEach(function(part) {
                var option = $('<option></option>').val(part.part_id).text(part.part_name);
                partSelect.append(option);
            });

            if (data.missing_parts.length > 0) {
                var missingPartsLabel = $('#missing_part');
                var missingPartsText = `${data.uav_name} için envanterde olmayan parçalar:  `;
                
                // Eksik parçaları listele
                data.missing_parts.forEach(function(missing_part) {
                    missingPartsText += `${missing_part}, `;
                });

                // Son virgülü kaldır
                missingPartsLabel.text(missingPartsText.slice(0, -2));  
                missingPartsLabel.css('color', 'red');  
                missingPartsLabel.show();
            } else {
                $('#missing_part').text(`${data.uav_name} için bütün parçalar envanterde mevcut:  `).show();
                $('#missing_part').css('color', 'green'); 
            }
            if (data.mounted_parts_data.length > 0) {
                show_mounted_part(data.mounted_parts_data)
            }  else {
                $('#mounted_part').text('Henüz takılı parça yok.').show();
                $('#mounted_part').css('color', 'red'); 
            }
        })
        .catch(error => console.error('Error:', error));
}
    });

    $('.select2').select2({
        placeholder: "Bir seçenek seçin",
        allowClear: true,
        width: '100%'  
    });
    $('#id_uav').select2({
        placeholder: "Seçiniz",  
        allowClear: true,
        width: '100%'
    });
            // İşlem seçimine göre bölümleri gösterme
            $('#process-select').on('change', function () {
                const selectedValue = $(this).val();
                $('#assembly-form, #assembly-section').hide(); // Tüm bölümleri gizle

                if (selectedValue === 'assembly_start') {
                    $('#assembly-form').show(); // Montaj başlangıcı formunu göster
                } else if (selectedValue === 'assembly_process') {
                    $('#newAssemblyCode').text('');
                    $('#assembly-section').show(); // Montaj süreci formunu göster
                }
            });

            // Montaj başlangıcı işlemi
            $('#create-assembly-btn').on('click', function () {
                const formData = $('#assembly-form').serialize();
                $.post('', formData + '&create_assembly=true', function (response) {
                    if (response.success) {
                        // Yeni montaj kodunu dropdowna ekleme
                        const newOption = new Option(response.assembly_code, response.assembly_id, false, false);
                        $('#assembly-select').append(newOption).trigger('change');
                        $('#newAssemblyCode').text('Montaj Kodu: ' + response.assembly_code).css('display', 'block'); //Montaj kodunun labelde gösterilmesi
                        showToast('Montaj başarıyla başlatıldı!');  
                    } else {
                        showToast('Bir hata oluştu!', true);  
                    }
                });
            });

            // Monte işlemi - parça ekleme
            $('#add-part-btn').on('click', function () {
    const formData = $('#part-form').serialize();
    $.post('', formData + '&add_part=true', function (response) {
        if (response.success) {
            if (response.mounted_parts_data.length > 0) { //Takılı parçaların kontrolü
                show_mounted_part(response.mounted_parts_data);  
            } else {
                $('#mounted_part').text('Henüz takılı parça yok.').show(); 
                $('#mounted_part').css('color', 'red');
            }
            showToast('Parça başarıyla eklendi!');  //Toast ile başararı metnini gösterme
        } else {
            if (response.message) {
                showToast(response.message,true);  
            } else {
                showToast('Parça eklenirken bir hata oluştu!', true);  //Toast ile hata metnini gösterme
            }
        }
    });
});


            $('#complete-production-btn').on('click', function () {
    const formData = $('#part-form').serialize();  // Form verilerini al
    $.post('', formData + '&complete_production=true', function (response) {
        if (response.success) {
            showToast('Üretim başarıyla tamamlandı!');  
        } else {
            const errorMessage = response.error || 'Üretim tamamlanırken bir hata oluştu!';
            showToast(errorMessage, true); 
        }
    });
});

        });

        function showToast(message, isError = false) {
            const toast = $('#toast');
            toast.text(message);
            if (isError) {
                toast.addClass('toast-error');
            } else {
                toast.removeClass('toast-error');
            }
            toast.fadeIn(300).delay(3000).fadeOut(300);
        }
        function show_mounted_part(mounted_parts_data)
{
        var mountedPartsLabel = $('#mounted_part');
                var mountedPartsText = `Uçağa takılı parçalar:  `;
                
                // Takılı parçaları listele
                mounted_parts_data.forEach(function(mounted_part) {
                    mountedPartsText += `${mounted_part.part_name}, `;
                });

                // Son virgülü kaldır
                mountedPartsLabel.text(mountedPartsText.slice(0, -2));  
                mountedPartsLabel.css('color', 'green');  
                mountedPartsLabel.show();
}
      
    </script>
{% endblock %}