<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Parça Üretimi</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- DataTables CSS with Bootstrap integration -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/datatables.net-dt/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/datatables.net-bs5/css/dataTables.bootstrap5.min.css">
</head>
<body>
    <div class="container mt-5">
        <div class="d-flex justify-content-between align-items-center mb-3">
            <h4>Parça Üretimi</h4>
            <a href="{% url 'create_assembly' %}" class="btn btn-outline-success mb-3">Montaj ve Üretim</a>
        </div>

        <table id="table" class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Montaj Kodu</th>
                    <th>UAV Adı</th>
                    <th>Parça Sayısı</th>
                </tr>
            </thead>
            <tbody>
                <!-- Veriler AJAX ile yüklenecek -->
            </tbody>
        </table>
    </div>

    <!-- Silme Modalı -->


    <!-- jQuery and Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <!-- DataTables JS with Bootstrap integration -->
    <script src="https://cdn.jsdelivr.net/npm/datatables.net/js/jquery.dataTables.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function() {
            var deleteId = null; // Silinecek öğe ID'si

            $('#table').DataTable({
    processing: true,
    serverSide: true,
    ajax: {
        url: '{% url "part_production_list" %}',
        type: 'GET',
    },
    columns: [
        { data: 'assembly_code', title: 'Montaj Kodu' },
        { data: 'uav_name', title: 'UAV Adı' },
        { data: 'part_count', title: 'Parça Sayısı' }
    ],
    language: {
        search: "Arama:",
        info: "_TOTAL_ kayıttan _START_ ile _END_ arası gösteriliyor",
        lengthMenu: "_MENU_ Kayıt Göster",
        paginate: {
            previous: 'Öncesi',
            next: 'Sonrası'
        }
    }
});
        });
    </script>
</body>
</html>
